<div class="container">
    <div class="head_container">
    <h1 class="head_text">
       The Phone Store 
    </h1>
<img src="https://store.storeimages.cdn-apple.com/8756
/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-gallery-
2018-5?wid=2000&hei=1536&fmt=jpeg&qlt=95&op_usm=0.5,0.5&.v=1535396224102" class="img_logo">
    </div>
</div>

<div>
    <hr>
    <nav>
        <a routerLink='/categories'>Categories</a>
        <a routerLink='/products'>Products</a>
    </nav>
<router-outlet></router-outlet>
</div>
