*{
    text-decoration: none;
    list-style-type: none;
}

h2{
    text-align: center;
    margin-bottom: 50px;
}

.categories{
    display: inline-block;
    list-style: none;
    font-size: 25px;

}

ul.categories{
    list-style-type: none;
    margin: 40px; 
    padding: 4px;
}

ul.categories li {
    display: inline; 
    border: 1px solid #1976d2; 
    border-radius: 10px;
    padding: 4px; 
    margin: 0 40px 100px;
}

hr{
    margin-top: 100px;
    margin-bottom: 50px;
}