*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    font-size: 16px;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;

}

.logo img{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    /* padding-left: 20px; */
    filter: invert(1) 
}

font{
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

body{
    background: url(https://github.githubassets.com/images/modules/site/heroes/simple-codelines.svg),#2b3137;
    background-position: center;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

/* <!-----------------------------------------------------------------------------------------------------------------------------!> */

header{
    height: 72px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #24292e;
    display: flex;
}

.header-container{
    display: flex;
    padding-right: 16px;
    padding-left: 16px;
    margin: auto;
    max-width: 1290px;
    height: 100%;
    width: 100%;
}

.header-left{
    flex-basis: 60%;
    z-index: 5;
}

.left-inner{
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    transition: .2s;    
}   


.left-inner ul{
    margin-left: 20px;
    z-index: 2;
}

.left-inner ul li{
    /* margin: 0 10px; */
    display: inline-block;
}

.left-inner ul li a{
    text-decoration: none;
    color: #fff;
}

.nav li a:hover{
    color: grey;
    transition: .4s;
}

.nav li{
    margin-right: 16px;
    margin-left: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 24px;
}

.nav li a{
    padding-top: 16px;
    padding-bottom: 16px;
    height: 24px;
}

/* .explore img:hover{
    color: grey;
    transition: .4s;
} */

.why img{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px;
    left: 290px;
}

.enter{
    padding-left: 10px;
}


.explore img{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px;
}

.market{
    padding-left: 10px;
}

.price img{
    height: 25px;
    width: 25px;
    position: absolute;
    top: 25px;
}


.header-right{
    flex-basis: 40%;
    display: flex;
    max-width: 451.88px;
    height: 36px;
    justify-content: center;
}

.tools{
    width: 100%;
    height: 100%;
    
}

.search{
    float: left;
    width: 100%;
    max-width: 240px;
    height: 36;
    padding-top: 10px;
    display: inline-block;
}

.search-inner img{
    background-color: hsla(0,0%,100%,.125);
    margin-left: 3px;
    position: absolute;
    top: 15px;
    right: 140px;
}

.search-inner input[type="text"]{
    height: 36px;
    width: 240px;
    padding: 8px; 
    display: table-cell;
    background: none;
    border: none;
    box-shadow: none;
    line-height: 20px;
    border-radius: 3px;
    background-color: hsla(0,0%,100%,.125);
    color: #fff;
    font-weight: 400;
}

.sign-in{
    float: left;
    padding-top: 20px;
    padding-right: 16px;
    padding-left: 16px;
    border: none;
    background-color: #24292e;
    color: #fff;
    font-size: 16px;
}

.sign-in:hover{
    color: grey;
    transition: .4s;
}

/* .sign-in input[type="submit"]{
    height: 24px;
    width: 48px;
    background-color: hsla(0,0%,100%,.125);
} */

.sign-up{
    float: left;
    padding-top: 12px;
}

.sign-up input[type="submit"]{
    border: 1px solid #e1e4e8;
    background-color: #24292e;
    color: #fff;
    padding: 4px 8px 4px 8px;
    font-size: 16px;
    position: relative;
    border-radius: 3px;
    font-weight: 100;
    height: 34px;
}

.sign-up input:hover{
    color: grey;
    transition: .4s;
}

.page{
    height: 628px;
    display: flex;
    justify-content: space-between;
    padding: 64px 0 64px 0;
    /* background: url(assets/img/fon.svg),#2b3137; */
}

.wrapper{
    height: 100%;
    display: flex;
    padding-right:16px !important;
    padding-left: 16px !important;
    margin-right: auto;
    margin-left: auto;
    max-width: 1012px;
}

.container{
    height: 100%;
    margin: 0 24px 0 24px;
    display: flex;
}

.welcome{
    flex-basis: 55.5%;
    padding-right: 24px;
    padding-left: 14px;
    height: 252px;
    padding-top: 100px;
}

.form-data{
    flex-basis: 44.5%;
    background-size: 341.237px 446px;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 20px;
    padding-right: 20px ;
    background-color: #fff;
    border-radius: 3px;
    font-size: 16px !important;
}

.form-data label{
    font-weight: 600;
    font-size: 14px !important;
}

.form-data p{
    padding: 5px 0 10px 0;
    color: #24292e;
    font-size: 12px;
}

.terms p{
    font-size: 12px;
    color: #6a737d !important;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    padding: 16px 0 5px 0;
    /* margin-top: 18px; */
    line-height: 18px;
    overflow-wrap: break-word ;
}

.form-data a{
    text-decoration: none;
}

.username label{
    padding-bottom: 10px;
}

.form-data input[type="text"]{
    width: 100%;
    min-height: 46px;
    /* padding: 10px; */
    margin: 10px 0 10px 0 ;
    border-radius: 5px;
    border: 1px solid #d1d5da;
    background-color: #fafbfc;
}

.form-data input[type="password"]{
    width: 100%;
    min-height: 46px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1d5da;
    background-color: #fafbfc;
}

.github-btn{
    background-color: #28a745;
    border: 1px solid #1074e7;
    margin: 16px 0 16px 0;
    padding: 20px 32px;
    height: 24%;
    width: 100%;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font: inherit;
    display: inline-block;
    transition: .2s;
}

.welcome h1{
    color: #fff;
    font-size: 64px;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 600;
    text-align: left;
}

.welcome h2{
    font-size: 20px;
    font-weight: 400;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-align: left;
    color: hsla(0,0%,100%,.6);
}

.welcome h2 a{
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid hsla(0,0%,100%,.125);
    color: #fff;
}



.nav ul{
    position: relative;
}

.nav ul li{
    display: inline-block;
}


.nav li ul{
    display: none;
    width: 100%;
    position: absolute;
    top: 65px;
    /* left: 170px; */
    max-height: 400px;
    max-width: 300px;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    text-align: left;
    padding: 5px 24px 24px 24px;
}

.nav .weight{
    font-weight: 600;
}


.nav li ul a{
    color: #24292e;
    font-size: 14px;
}

.nav li:hover ul{
    display: block;
}

.nav li:hover li{
    display: none;
    display: block;
}

 /* .nav .separate{
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 200%;
}  */

.mar{
    margin-top: 30px;
}
